azure-search-documents==11.6.0b1
azure-storage-blob==12.9.0
fastapi==0.111.1
azure-functions==1.2.0
openai==1.56.2
requests==2.32.3
python-dotenv==1.0.1
Pillow==10.4.0
pdf2image==1.17.0
uvicorn==0.30.5
python-multipart==0.0.9
PyYAML==6.0.2
python-pptx==1.0.2
python-docx==1.1.2
sqlmodel==1.0.0
psycopg[binary]==3.1.13
pydantic==2.0
alembic==2.0.0
pyjwt==3.0.0
sqlalchemy==2.0.17
typing==3.7.4